# Files
*.aux
*.log
*.pdf
*.synctex.gz
*.fdb_latexmk
*.fls
*.pyc
*.out

# Folders
.ipynb_checkpoints/
.DS_Store
*.glg
*.glo
*.gls
!/in_progress/script/images/*
!/in_progress/script/exercises/*

# Don't add databases
*.db
*.toc
